<!-- ======= Works Section ======= -->
<section class="section site-portfolio">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
        <h2>Doğal Sağlıklı ve Lezzetli Ürünlerimiz</h2>
        <p class="mb-0">
          Tatlı &amp; Tuzlu her damak tadı için,
        </p>
      </div>
      <div
        class="col-md-12 col-lg-6 text-left text-lg-right"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div id="filters" class="filters">
          <a href="#" data-filter="*" class="active">Hepsi</a>
          <a href="#" data-filter=".recel_marmelat">Reçel & Marmelat</a>
          <a href="#" data-filter=".salca">Salça</a>
          <a href="#" data-filter=".tursu">Turşu</a>
          <a href="#" data-filter=".zeytinyag">Zeytinyağ</a>
        </div>
      </div>
    </div>
    <div
      id="portfolio-grid"
      class="row no-gutter"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div
        *ngFor="let product of product_list"
        class="item {{ product.category }} col-sm-6 col-md-4 col-lg-4 mb-4"
      >
        <a href="" class="item-wrap fancybox">
          <div class="work-info">
            <h3>{{ product.name }}</h3>
            <span>{{ product.category }}</span>
          </div>
          <img
            class="img-fluid"
            src="assets/images/{{ product.pictures[0] }}"
          />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End  Works Section -->
