<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>
<div class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div
            class="col-lg-5 d-none d-lg-block"
            style="
              background-image: url('../../assets/img/register01.jpg');
              background-position: center;
              background-size: cover;
            "
          ></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Kullanıcı Oluştur!</h1>
              </div>
              <form
                class="user"
                [formGroup]="kisiform"
                (ngSubmit)="onSubmit(kisiform.value)"
              >
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      id="registerUsername"
                      placeholder="Kullanıcı Adı"
                      formControlName="userNickname"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      id="registerFullName"
                      placeholder="İsim Soyisim"
                      formControlName="userFullName"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control form-control-user"
                    id="registerInputEmail"
                    placeholder="Email Address"
                    formControlName="userMail"
                  />
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      id="registerInputPassword"
                      placeholder="Parola"
                      formControlName="accountSecret"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      id="registerRepeatPassword"
                      placeholder="Parola Tekrarı"
                    />
                  </div>
                </div>
                <button type="submit" class="btn btn-user btn-block">
                  Üye Ol
                </button>
              </form>
              <hr />

              <div class="text-center">
                <a class="small" href="forgot-password.html"
                  >Şifreni mi unuttun?</a
                >
              </div>
              <div class="text-center">
                <a class="small" href="login.html"
                  >Zaten bir hesabın var mı? Giriş yap!</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
