<app-burger-nav></app-burger-nav>

<nav class="navbar navbar-light custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">StoreDam</a>

    <a
      href="#"
      class="burger"
      data-toggle="collapse"
      data-target="#main-navbar"
    >
      <span></span>
    </a>
  </div>
</nav>

<main id="main">
  <app-products></app-products>
</main>
<!-- End #main -->

<app-footer></app-footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
